---
layout: default
curlang: en
title: Manga
galleryid: manga
---

{% include mangascript.html %}

					<span id="origManga" class="ih">Original manga in Russian</span>
					<div class="info">
{% include mangahtml.html %}
						<p class="centered">You can read and download from here:</p>
						<p class="centered"><a href="https://www.dropbox.com/sh/e3obcrqbc9fl58l/k_DEz_2aYF" target="_blank"><img src="{{ page.linkadd }}pic/ru.jpg" class="flag" alt="*"/></a> <a href="https://www.dropbox.com/sh/e3obcrqbc9fl58l/k_DEz_2aYF" target="_blank">https://www.dropbox.com/sh/e3obcrqbc9fl58l/k_DEz_2aYF</a></p>
					</div>

					&nbsp;
