---
layout: default
title: Multimedia
galleryid: screenshots
---

					<script type="text/javascript">
						function galleryClick(path){
							document.getElementById("IMGdisplayer").src = path;
							return false;
						}
					</script>

					<span id="screenshots" class="ih">Screenshots</span><div class="aTape">&nbsp;</div>
					<div class="info">
						<p align="center"><img id="IMGdisplayer" src="pic/scr/OMD-s0001.png" alt="Image viewer" /></p>
						<p align="center">
						{% for gallery in site.data.galleries %}
							{% if gallery.id == page.galleryid %}
								{% for image in gallery.images %}
   							<a href="{{ gallery.imagefolder }}/{{ image.name }}" target="_blank" onclick="return galleryClick('{{ gallery.imagefolder }}/{{ image.name }}')"><img src="{{ gallery.imagefolder }}/{{ image.name }}" width="200"/></a>{% endfor %}
							{% endif %}
						{% endfor %}
						</p>
					</div>


					<span id="screenshots" class="ih">Video</span>
					<div class="info">
						<p align="center">
							<iframe width="960" height="540" src="//www.youtube.com/embed/IMeWtNx7Br0" frameborder="0" allowfullscreen></iframe>
						</p>
					</div>

					&nbsp;
