html {
	margin:0px;
	padding:0px;
	background: white;
}

body {
	margin: 10px 30px;
	background: url("pic/bg.jpg");
	border: 3px solid black;
}

.clear {
    clear:both;
    height:0px;
}

#mainDiv {
	width: 100%;
	min-height: 100%;
	background: url("pic/Stars.png") repeat-x;
}

#supDiv {
	width: 100%;
	min-height: 100%;
	background: url("pic/Branch.png") no-repeat;		
}

#supPers {
	width: 100%;
	min-height: 100%;
	background: url("pic/persLeft.png") repeat-y;
}


#header {
	width: 100%;
}

#logo {
	padding-left: 220px;
}


#menu {
	padding-top: 10px;
	padding-left: 210px;
	padding-bottom: 40px;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	//padding-right: 10px;
	list-style-type: none;
	display: inline;
}

#menu li {
	display: inline;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	padding: 0px 5px;
	margin-right: 3px;

	border: 12px solid #faf;
	border-image: url("pic/bt.png") 25 30 stretch repeat;
	background: url("pic/btbg.png");
	background-clip: border-box;
}


#menu a {
	text-decoration: none;
	color: #fffafe;
	text-shadow: 1px 1px 4px #404;
	/*padding: 0px 22px;
	background-image: url("pic/imp.png"), url("pic/imp2.png");
	background-position: left top, right top;
	background-repeat: no-repeat;*/
}

#menu a:hover {
	color: #faf;
	text-shadow: 1px 1px 4px black;
	//box-shadow: 2px 2px 40px #fe00b9;
	//background-color: #faf;
}

#content {
	padding-left: 140px;
}

#footer {
	border: 1px solid transparent;
	text-align: right;
	width: 100%;
	height: 87px;
	margin:-69px auto 0;
	//background: url("pic/footerGrass.png") right bottom repeat-x;
	background-image: url("pic/footerGrass.png"), url("pic/footerGrass.png");
	background-position: right bottom, -380px bottom;
	background-repeat: repeat-x, no-repeat;
}

#footer h3 {
	padding-top: 40px;
	margin-right: 160px;
}


.ih {
	background: #feeef9;
	padding: 3px 25px;
	margin: 0px 80px;
	color: #111;
	font-weight: bold;
	text-shadow: 0px 0px 1px #ff87ff;
	border: 12px dotted white;
	border-radius: 120px 40px 120px 40px;
	border-image: url("pic/motc.png") 25 30 stretch stretch;
}


.info, .info2 {
	//background: white;
	//background: url("work/Snow_02.png");
	padding: 0px 20px;
	margin: -5px 40px 45px 40px;
	border: 15px dotted white;
	border-image: url("pic/motc.png") 25 30 stretch stretch;
}

/*.info {
	border-radius: 40px 10px;
}

.info2 {
	border-radius: 20px 40px;
}*/

.aTape {
	margin-top: -20px;
	margin-left: -40px;
	margin-right: 7px;
	position: relative;
	float: right;
	background: url("pic/Tape.png") no-repeat;
	width: 90px;
	height: 69px;
}

.aPin {
	margin-top: -15px;
	margin-left: -40px;
	margin-right: 50px;
	position: relative;
	float: right;
	background: url("pic/Pin.png") no-repeat;
	width: 29px;
	height: 57px;
}

.vmiddle {
	vertical-align: middle;
} 

.flag {
	border: 1px solid #ccc;
	vertical-align: middle;
}

a.download {
	display: float;
	border-radius: 20px;
	background: #333 url("pic/download.png") 18px 4px no-repeat;
	color: white;
	text-decoration: none;
	text-shadow: 1px 1px 1px silver;
	padding: 10px 30px 10px 50px;
	box-shadow: 1px 1px 1px #ff00ff;
}

a.download:hover {
	color: white;
	background-color: black;
	background-position: 18px 6px;
	box-shadow: 1px 1px 2px red;
}


.galholder {
	white-space: nowrap;
}

a.galbut {
	background-color: rgba(0,0,0,0.03);
	text-align: center;
	padding-top: 585px;
	padding-bottom: 585px;
}

a.galbut:hover {
	background-color: rgba(0,0,0,0.3);
}
