html {
	margin:0px;
	padding:0px;
	background: white;
}

body {
	margin: 10px 30px;
	background: url("pic/bg.jpg");
	border: 3px solid black;
}

p {
	font-weight: 200;
	font-size: 18px;
}

img {
	border: 0;
}

hr {
	height: 15px;
	border: 0px;
	border-top: 12px solid #fef;
	border-image: url("pic/motc.png") 25 30 stretch stretch;
}

table {
	border-collapse: collapse;
}

a {
	color: #c5c;
	transition-duration: 250ms;
}

a:hover {
	text-shadow: 1px 1px 1px #faf;
	transition-duration: 250ms;
}

a:visited {
	color: #c5c;
	transition-duration: 250ms;
}

td {
	padding: 10px;
}

ul {
    list-style-image: url("pic/li.png");
}

.underline {
	border-bottom: 1px solid silver;
}

.clear {
    clear:both;
    height:0px;
}

#mainDiv {
	width: 100%;
	min-height: 100%;
	background: url("pic/Stars.png") repeat-x;
}

#supDiv {
	width: 100%;
	min-height: 100%;
	background: url("pic/Branch.png") no-repeat;		
}

#supPers {
	width: 100%;
	min-height: 100%;
	background: url("pic/persLeft.png") repeat-y;
}


#header {
	width: 100%;
}

#logo {
	padding-left: 220px;
	text-shadow: 1px 1px 0px blue, 1px 1px 2px red;
	overflow: hidden;
}

#logo .small {
	display: none;
	color: #f8f;
	font-weight: bold;
	font-size: 24px;
	font-family: Arial;
	padding-top: 2px;
}

.greenLight-ru, .greenLight-en {
	margin: 5px;
	width: 329px;
	height: 86px;
	float: right;
	box-shadow: 0px 0px 5px #f25;
	border-radius: 7px;
}

.greenLight-ru {
	background: url("pic/greenlight-ru.png") 0 0px;
}

.greenLight-ru:hover {
	background: url("pic/greenlight-ru.png") 0 -86px;
}

.greenLight-en {
	background: url("pic/greenlight-en.png") 0 0px;
}

.greenLight-en:hover {
	background: url("pic/greenlight-en.png") 0 -86px;
}


.greenLight img {
	border-radius: 7px;
	display: none;
}


#langSwith {
	padding: 10px;
	float: right;
	width: 42px;
}

#langSwith img {
	margin-bottom: 10px;
}

#langSwith a {
	opacity: 0.7;
	transition-duration: 250ms;
}

#langSwith a:hover {
	box-shadow: 0px 0px 10px #f4f;
	opacity: 1.0;
	transition-duration: 250ms;
}

#menu {
	padding-top: 10px;
	padding-left: 230px;
	padding-bottom: 40px;
}

.btl {
	position: absolute;
	top: 117px;
	left: 262px;
	z-index: 9999;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: inline;
	line-height: 45px;
}

#menu li {
	display: inline;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	padding: 0px;
	margin-left: 3px;
	white-space: nowrap;

	border: 12px solid #fef;
	border-image: url("pic/bt.png") 25 30 stretch repeat;
	background: url("pic/btbg.png");
	background-clip: border-box;
}


#menu a {
	padding: 10px;
	text-decoration: none;
	color: #fffafe;
	text-shadow: 1px 1px 3px #626, -1px 0px 3px #848;
	transition-duration: 250ms;
	font-size: 16px;
}

#menu a:hover {
	color: #fdf;
	text-shadow: 1px 1px 3px black, -1px 0px 3px silver;
	transition-duration: 250ms;
}

#content {
	padding-left: 140px;
}

#footer {
	border: 1px solid transparent;
	text-align: right;
	height: 87px;
	margin:-69px auto 0;
	background-image: url("pic/footerGrass.png"), url("pic/footerGrass.png");
	background-position:  -380px bottom, right bottom;
	background-repeat: no-repeat, repeat-x;
	overflow: hidden;
}

#footer h3 {
	padding-top: 40px;
	margin-right: 160px;
}

#cloud li {
	display: inline;
}

#cloud a {
	padding: 0px;
}


.ih {
	background: #feeef9;
	padding: 3px 25px;
	margin: 0px 80px;
	color: #111;
	font-weight: bold;
	text-shadow: 0px 0px 1px #ff87ff;
	border: 12px solid #fef;
	border-radius: 120px 40px 120px 40px;
	border-image: url("pic/motc.png") 25 30 stretch stretch;
}


.info, .info2 {
	padding: 0px 20px;
	margin: -5px 40px 45px 40px;
	border: 15px solid #fef;
	border-image: url("pic/motc.png") 25 30 stretch stretch;
}

.markdown img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.aTape {
	margin-top: -20px;
	margin-left: -40px;
	margin-right: 7px;
	position: relative;
	float: right;
	background: url("pic/Tape.png") no-repeat;
	width: 90px;
	height: 69px;
}

.aFlower {
	margin-top: -5px;
	margin-left: -10px;
	margin-right: 47px;
	position: relative;
	float: right;
	background: url("pic/flower.png") no-repeat;
	width: 30px;
	height: 45px;
}

.aPin {
	margin-left: -40px;
	margin-right: 50px;
	position: relative;
	float: right;
	background: url("pic/Pin.png") no-repeat;
	margin-top: -15px;
	width: 29px;
	height: 57px;
}

.paypal-pay, .paypal-pal {
	font-family: Arial;
	font-style: oblique; 
	font-weight: bold;
	text-shadow: 1px 1px 1px silver;
}

.paypal-pay {
	color: #003d79;
}

.paypal-pal {
	color: #0070bc;
}

.Lant {
	padding-left: 130px;
}

.invis {
	display: none;
}

ul.nodots {
	list-style-type: none;
	list-style-image: none;
	line-height: 34px;
}

.preview {
	padding: 5px 15px;
}

.post-title {
	font-size: 19px;
}

.post-date {
	font-size: 15px;
}

.post-tags {
	font-size: 16px;
}

.vmiddle {
	vertical-align: middle;
}

.centered {
	text-align: center;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.fullwidth {
	width: 100%;
}

.hidover {
	overflow: hidden;
}

.noborder {
	border: 0;
}

.doinline {
	display: inline;
}

.flag {
	border: 1px solid #ccc;
	vertical-align: middle;
}

.badgeContainer {
	padding-top: 30px;
	padding-bottom: 65px;
}

.whitebadge, .whitepicbadge, .pinkbadge {
	padding: 4px;
	border-radius: 5px;
	height: 45px;
	width: 160px;
	text-decoration: none;
	display: table-cell;
	float: left;
	margin-right: 12px;
	margin-bottom: 10px;

	font-weight: 200;
	font-size: 20px;
	vertical-align: middle;
	line-height: 100%;
	white-space: nowrap;
}

.whitebadge span, .whitepicbadge span, .pinkbadge span {
	font-size: 18px;
}

.whitebadge img, .pinkbadge img {
	vertical-align: middle;
	padding-right: 5px;
	float: left;
}

.badgelong {
	width: 172px;
}

.whitebadge, .whitepicbadge, a.whitebadge:visited, a.whitepicbadge:visited {
	color: #222;
	border: 1px solid silver;
	background: url("pic/badge-bg-gray.jpg") top left;
	transition-duration: 250ms;
}

.whitebadge:hover, .whitepicbadge:hover {
	background: url("pic/badge-bg-gray.jpg") bottom left;
	text-shadow: 1px 1px 0px silver;
	transition-duration: 250ms;
}

.pinkbadge, a.pinkbadge:visited {
	color: #122;
	border: 1px solid #f9e;
	background: #f7ebef url("pic/badge-bg-pink.jpg") top left;
	transition-duration: 250ms;
}

.pinkbadge:hover {
	background: url("pic/badge-bg-pink.jpg") bottom left;
	text-shadow: 1px 1px 0px #e99;
	transition-duration: 250ms;
}

.readmore, .readmore:visited {
	padding: 4px;
	border-radius: 5px;
	float: right;
	height: 20px;
	width: 160px;
	text-decoration: none;
	display: table-cell;
	font-size: 18px;
	vertical-align: middle;
	line-height: 100%;
	white-space: nowrap;
	color: #122;
	border: 1px solid #fce;
	margin-top: -5px;
	margin-right: 0px;
	margin-bottom: 10px;
	background: #f7ebef url("pic/badge-bg-pink.jpg") 0px -8px;
	transition-duration: 250ms;
}

.readmore:hover {
	background: #f7ebef url("pic/badge-bg-pink.jpg") 0px 52px;
	transition-duration: 250ms;
}

.readmore span {
	display: table-cell;
	padding-left: 37px;
	padding-right: 17px;
	padding-bottom: 3px;
	width: 160px;
	text-align: center;
	border: 1px solid transparent;
	background: url("pic/readmore.png") 3px 0px no-repeat;
}


.imgshad {
	margin: 18px 0px;
	box-shadow: 0px 0px 18px black;
}

.imgLshad {
	margin: 18px 0px;
	box-shadow: 0px 0px 18px #888;
}

.musicpadded {
	padding-top: 15px;
}

.galholder {
	white-space: nowrap;
}

a.galbut {
	background-color: rgba(0,0,0,0.03);
	text-align: center;
	padding-top: 585px;
	padding-bottom: 585px;
}

a.galbut:hover {
	background-color: rgba(0,0,0,0.3);
}


/* Smartphones and small screens/windows */
@media only screen and (max-width: 1000px) {

	#supPers {
		background: none;
	}

	#content {
		padding: 0px;
	}

	#langSwith {
		position: absolute;
		top: 15px;
		right: 30px;
		width: 138px;
	}

	#logo {
		padding-left: 140px;
	}

	#menu {
		padding-left: 50px;
	}

	.btl {
		left: 82px;
	}

	.funzbig {
		display: none;
	}

}

@media only screen and (max-width: 550px) {
	body {
		margin: 0px 0px;
		border: none;
	}

	.aTape, .aPin, .funz {
		display: none;
	}

	.ih, .info, .info2 {
		border: none;
		padding: 0px;
		margin: 10px;
		background: transparent;
	}

	#header {
		overflow: hidden;
	}

	#logo {
		padding-left: 5px;
	}

	.greenLight-ru, .greenLight-en {
		float: none;
		margin-top: 42px;
	}

	#langSwith {
		top: -5px;
		right: 0px;
		padding-right: 3px; 
	}

	#menu {
		padding-left: 0px;
	}

	#logo .small {
		display: inline;
	}

	#logo .big {
		display: none;
	}

	p {
		text-align: justify;
		word-spacing: -0.3ex;
	}

	#IMGdisplayer, .galbut {
		display: none;
	}

}
