---
layout: default
linkadd: ../
curlang: pl
title: Manga
galleryid: manga
---

{% include mangascript.html %}

					<span id="origManga" class="ih">Oryginalna manga po rosyjsku</span>
					<div class="info">
{% include mangahtml.html %}
						<p class="centered">Możesz ją przeczytać i pobrać stąd:</p>
						<p class="centered hidover"><a href="https://www.dropbox.com/sh/e3obcrqbc9fl58l/k_DEz_2aYF" target="_blank"><img src="{{ page.linkadd }}pic/ru.jpg" class="flag" alt="*"/></a> <a href="https://www.dropbox.com/sh/e3obcrqbc9fl58l/k_DEz_2aYF" target="_blank">https://www.dropbox.com/sh/e3obcrqbc9fl58l/k_DEz_2aYF</a></p>
					</div>

					&nbsp;
