						<p class="centered">
							<a href="https://play.google.com/store/apps/details?id=in.dexp.onemangaday" target="_blank"><img alt="Get it on Google Play" src="{{ page.linkadd }}pic/badges/google.png" /></a>
							<a href="http://www.amazon.com/DeXP-One-Manga-Day/dp/B00MFTHEU8" target="_blank"><img src="{{ page.linkadd }}pic/badges/amazon.png" alt="Amazon"/></a>
							<a href="http://www.desura.com/games/one-manga-day" title="View One Manga Day on Desura" target="_blank"><img src="{{ page.linkadd }}pic/badges/desura.png" alt="One Manga Day" /></a>
							<a href="http://contest.rpgmakerweb.com/game/view/id/101" target="_blank"><img src="{{ page.linkadd }}pic/badges/igmc.png" alt="2014 Indie Game Maker Contest" title="2014 Indie Game Maker Contest" /></a>
							<a href="https://github.com/DeXP/onemangaday" target="_blank"><img src="{{ page.linkadd }}pic/badges/github.png" alt="Github"/></a>
						</p>

