{% capture cachem %}

{% assign curUrlExists = false %}

{% assign curFUrl = curUrl | remove: ".html" %}

{% for curFile in site.pages %}
	{% assign cFile = curFile.url | remove: ".html" %}
    {% if cFile == curFUrl %}
        {% assign curUrlExists = true %}
    {% endif %}
{% endfor %}

{% for curFile in site.posts %}
	{% assign cFile = curFile.url | remove: ".html" %}
    {% if cFile == curFUrl %}
        {% assign curUrlExists = true %}
    {% endif %}
{% endfor %}

{% if curUrlExists == false %}
	{% for curFile in site.static_files %}
		{% assign cFile = curFile.url | remove: ".html" %}
	    {% if cFile == curFUrl %}
	        {% assign curUrlExists = true %}
	    {% endif %}
	{% endfor %}
{% endif %}

{% endcapture %}{% assign cachem = nil %}
