					<div id="disqus_thread"></div>{% include LANG.html %}
					<script type="text/javascript">
						var disqus_shortname = 'onemangaday';
						var disqus_identifier = '{{ page.url }}';{% if page.curlang %}
						var disqus_config = function () { this.language = "{{ page.curlang }}"; };{% endif %}
						(function() {
							var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
					</script>
