					<script type="text/javascript">
						{% assign curGallery = 0 %}
						var imageGallery = [
						{% for gallery in site.data.galleries %}
							{% if gallery.id == page.galleryid %}
								{% assign curGallery = gallery %}
								{% for image in gallery.images %}
   							"{{ page.linkadd }}{{ gallery.imagefolder }}/{{ image.name }}",{% endfor %}
							{% endif %}
						{% endfor %}
						];

						var imgCount = 0;
						var totalImgs = imageGallery.length - 1;

						function nextClick(){
							var prelImg;
							imgCount++;
							if(imgCount > totalImgs) imgCount = 0;
							prelImg = imgCount + 1;
							if(prelImg > totalImgs) prelImg = 0;
							document.getElementById("IMGdisplayer").src = imageGallery[imgCount];
							document.getElementById("IMGpreloader").src = imageGallery[prelImg];
							return false;
						}

						function prevClick() {
							imgCount--;
							if(imgCount < 0) imgCount = totalImgs;
							document.getElementById("IMGdisplayer").src = imageGallery[imgCount];
							return false;
						}
					</script>
