---
layout: list
title: Comipo Tutorials
curlang: en
linkadd: ../
shortlinkadd: ..
markdown: True
categories: 
- tutorials
---
{% include LANG.html %}
					<span class="ih">Manga Maker Comipo! Tutorials</span>
					<div class="info">
						<img src="{{ page.linkadd }}pic/tutorials/comipoBanner.png" alt="Comipo" class="floatleft" />
						<p>You can see some Manga Maker Comipo tutorials here. The program was developed by the Japanese, so it is not always clear for the european people. But sometimes it allows you to create almost real miracles!</p>
						<p>You can buy program on:&nbsp;
							<a href="http://www.comipo.com/en/index.html" target="_blank"><img src="{{ page.linkadd }}pic/tutorials/comipoPo.png" alt="Comipo" width="30" height="27" class="vmiddle" /></a> <a href="http://www.comipo.com/en/index.html" target="_blank">Official site</a>&nbsp;
							<a href="http://store.steampowered.com/app/262490/" target="_blank"><img src="{{ page.linkadd }}pic/badge-icon/steam-small.png" alt="Steam" width="28" height="28" class="vmiddle" /></a> <a href="http://store.steampowered.com/app/262490/" target="_blank">Steam</a>
						</p>

						<p>Materials by tags <img src="{{ page.linkadd }}pic/tags.png" class="vmiddle" alt="{{ landat.str.MaterialTags }}" /></p>
					   	{% include tagcloud.html %}

						<p class="centered"><a href="http://www.comipo.com/en/index.html" target="_blank"><img src="{{ page.linkadd }}pic/tutorials/comipoLogo.png" alt="Comipo" /></a></p>
						<div class="clear"></div>

{% for post in site.categories.tutorials %}{% if post.categories.size == 1 %}{% include postblock.html %}{% endif %}{% endfor %}
					</div>
					&nbsp;
