$baseDir: '{{ curaddlink }}pic/';

.readmore, .readmore:visited {
	padding: 4px;
	border-radius: 5px;
	float: right;
	height: 20px;
	width: 160px;
	text-decoration: none;
	display: table-cell;
	font-size: 18px;
	vertical-align: middle;
	line-height: 100%;
	white-space: nowrap;
	color: #122;
	border: 1px solid #fce;
	margin-top: -5px;
	margin-right: 0px;
	margin-bottom: 10px;
	background: #f7ebef url($baseDir+"badge-bg-pink.jpg") 0px -8px;
	transition-duration: 250ms;
}

.readmore:hover {
	background: #f7ebef url($baseDir+"badge-bg-pink.jpg") 0px 52px;
	transition-duration: 250ms;
}

.readmore span {
	display: table-cell;
	padding-left: 37px;
	padding-right: 17px;
	padding-bottom: 3px;
	width: 160px;
	text-align: center;
	border: 1px solid transparent;
	background: url($baseDir+"readmore.png") 3px 0px no-repeat;
}

