---
layout: list
title: Руководства по Comipo
curlang: ru
linkadd: ../../
shortlinkadd: ../..
markdown: True
categories: 
- tutorials
---

					<span class="ih">Уроки по Manga Maker Comipo!</span>
					<div class="info">
						<img src="{{ page.linkadd }}pic/tutorials/comipoBanner.png" alt="Comipo" class="floatleft" />
						<p>В данном разделе представлены различные уроки по программе Manga Maker Comipo. Программа разработана японцами, так что не всегда понятна для русского человека. Но иногда она позволяет творить почти настоящие чудеса!</p>
						<p>Программу можно купить в следующих местах:</p>
						<ul>
							<li><a href="http://www.comipo.com/en/index.html" target="_blank"><img src="{{ page.linkadd }}pic/tutorials/comipoPo.png" alt="Comipo" width="30" height="27" class="vmiddle" /></a> <a href="http://www.comipo.com/en/index.html" target="_blank">Официальный сайт</a></li>
							<li><a href="http://store.steampowered.com/app/262490/" target="_blank"><img src="{{ page.linkadd }}pic/badge-icon/steam-small.png" alt="Steam" width="28" height="28" class="vmiddle" /></a> <a href="http://store.steampowered.com/app/262490/" target="_blank">Стим</a></li>
						</ul>
						<p class="centered"><a href="http://www.comipo.com/en/index.html" target="_blank"><img src="{{ page.linkadd }}pic/tutorials/comipoLogo.png" alt="Comipo" /></a></p>
						<div class="clear"></div>

{% for post in site.categories.ru %}
					<hr/>
					<a href="{{ page.shortlinkadd }}{{ post.url }}"><span>{{ post.title }}</span></a>
					<span class="post-date"> / {{ post.date | date: "%d.%m.%Y" }}</span>
						{% if post.preview %}<a href="{{ page.shortlinkadd }}{{ post.url }}"><img src="{{ page.linkadd }}pic/tutorials/{{ post.preview.file }}" alt="{{ post.title }}" title="{{ post.title }}" class="floatleft preview"{% if post.preview.width %} width="{{ post.preview.width }}"{% endif %}{% if post.preview.height %} height="{{ post.preview.height }}"{% endif %} /></a>{% endif %}
						{{ post.excerpt }}

						<a href="{{ page.shortlinkadd }}{{ post.url }}" class="readmore"><span>Читать дальше</span></a>

						<div class="clear"></div>
{% endfor %}
					</div>
					&nbsp;
