<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ page.linkadd }}omd.css" type="text/css" />
		<title>One Manga Day | {{ page.title }}</title>
	</head>
	<body>
		<div id="mainDiv">
			<div id="supDiv">
			<div id="supPers">
				<div id="header">
					<div id="langSwith">
						<a href="{{ page.linkadd }}{{ page.url | split:"/" | last }}"><img src="{{ page.linkadd }}pic/langEN.jpg" class="flag" alt="en" title="English" /></a>
						<a href="{{ page.url }}"><img src="{{ page.linkadd }}pic/langRU.jpg" class="flag" alt="ru" title="Russian" /></a>
					</div>
					<div id="logo" class="logoRU">
						<a href="{{ page.url }}">
							<img src="{{ page.linkadd }}pic/TitleRu.png" alt="One Manga Day" class="big" />
							<img src="{{ page.linkadd }}pic/TitleSmall.png" alt="One Manga Day" class="small" />
						</a>
					</div>
					<div id="menu">
						<a href="index.html"><img src="{{ page.linkadd }}pic/speaker.png" class="vmiddle funz" alt="*" /></a>&nbsp;
						<ul>
							<li><a href="index.html">Главная</a></li>
							<li><a href="media.html">Скриншоты</a></li>
							<li><a href="music.html">Музыка</a></li>
							<li><a href="manga.html">Манга</a></li>
							<li><a href="faq.html">Вопросы</a></li>
							<li><a href="banners.html">Баннеры</a></li>
						</ul>
					</div>
				</div>
				<div id="content">
{{ content }}
				</div>
			</div>
			</div>
		</div>
		<div class="clear"></div>
		<div id="footer">
			<h3>(c)&nbsp;DeXPeriX&nbsp;2014</h3>
		</div>
	</body>
</html>
