---
layout: compress
---
<!DOCTYPE html>{% include LANG.html %}<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style type="text/css">{% capture include_to_scssify %}
			{% include sass/somd.scss %}
			{% if page.addcss == "badges" %}{% include sass/badges.scss %}{% endif %}
			{% if page.addcss == "greenlight" %}{% include sass/greenlight.scss %}{% endif %}
			{% for cat in page.categories %}
				{% if cat == "tutorials" %}{% include sass/readmore.scss %}{% endif %}
			{% endfor %}
			{% if page.needHighLight %}{% include sass/syntax.scss %}{% endif %}
{% endcapture %}{{ include_to_scssify | scssify }}</style>
		{% comment %}<link rel="stylesheet" href="{{ curaddlink }}omd.css" type="text/css" />{% endcomment %}{% for lng in site.data.lang %}{% capture cache %}
		{% capture alternateUrl %}{{ lng.link }}{% if page.categories %}{{ page.categories | last }}/{% endif %}{{ page.url | split:"/" | last }}{% endcapture %}
		{% capture curUrl %}/{{ alternateUrl }}{% endcapture %}
		{% include CHECKEXISTS.html %}
		{% endcapture %}{% assign cache = nil %}{% if curUrlExists %}
		<link rel="alternate" hreflang="{{ lng.id }}" href="{{ curaddlink }}{{ alternateUrl }}" />{% endif %}{% endfor %}
		<title>{{ site.name }} | {{ page.title }}</title>
		<meta name="author" content="DeXPeriX" />
	</head>
	<body>
		<div id="mainDiv">
			<div id="supDiv">
			<div id="supPers">
				<div id="header">
					<div id="langSwith">{% for lng in site.data.lang %}{% capture cache %}
						{% capture pagePostURL %}{{ lng.link }}{% if page.categories %}{{ page.categories | last }}/{% endif %}{{ page.url | split:"/" | last }}{% endcapture %}

						{% capture curUrl %}/{{ pagePostURL }}{% endcapture %}
						{% include CHECKEXISTS.html %}

						{% endcapture %}{% assign cache = nil %}{% if curUrlExists %}
						<a href="{{ curaddlink }}{{ pagePostURL }}"><img src="{{ curaddlink }}pic/lang{{ lng.id | upcase }}.jpg" class="flag" alt="{{ lng.id | upcase }}" title="{{ lng.fullname }}" /></a>{% endif %}{% endfor %}
					</div>
					<div id="logo">
						<a href="{{ page.url | split:"/" | last }}">
							<img src="{{ curaddlink }}pic/Title{{ landat.id | capitalize }}.png" height="93" alt="One Manga Day" class="big" />	
						</a>
						<img src="{{ curaddlink }}pic/TitleSmall.png" alt="One Manga Day" class="small" />
					</div>
					<div id="menu">
						<img src="{{ curaddlink }}pic/Pin2.png" class="vmiddle funz btl" alt="*" />
						<ul>{% for menu in landat.mainmenu %}
							<li><a href="{{ curaddlink }}{{ landat.link }}{{ menu.link }}">{{ menu.text }}</a></li>{% endfor %}
						</ul>
					</div>
				</div>
				<div id="content">
{{ content }}
				</div>
			</div>
			</div>
		</div>
		<div class="clear"></div>
		<div id="footer">
			<a href="http://dexperix.net" target="_blank"><img src="{{ curaddlink }}pic/DeXPeriX.png" alt="(c) DeXPeriX" /></a>{% comment %}<h3>(c)&nbsp;DeXPeriX&nbsp;2014</h3>{% endcomment %}
{% include googleanalytics.html %}
		</div>
	</body>
</html>
