<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="omd.css" type="text/css" />
		<title>One Manga Day</title>
	</head>
	<body>
		<div id="mainDiv">
			<div id="supDiv">
			<div id="supPers">
				<div id="header">
					<div id="logo">
						<img src="pic/TitleEn.png" alt="logo" />
					</div>
					<div id="menu">
						<a href="index.html"><img src="pic/speaker.png" class="vmiddle" alt="*" /></a>&nbsp;
						<ul>
							<li><a href="index.html">Main</a></li>
							<li><a href="media.html">Media</a></li>
							<li><a href="music.html">Music</a></li>
							<li><a href="manga.html">Manga</a></li>
						</ul>
						&nbsp;<img src="pic/stul.png" class="vmiddle" alt="*" />	
					</div>
				</div>
				<div id="content">
{{ content }}
				</div>
			</div>
			</div>
		</div>
		<div class="clear"></div>
		<div id="footer">
			<h3>(c) DeXPeriX 2014</h3>
		</div>
	</body>
</html>
