---
layout: default
---
{% include LANG.html %}{% assign post = page %}{% include POST-TAGS.html %}
					<span id="article" class="ih">{{ page.title }}</span>
					<span class="post-date">{{ page.date | date: landat.dateformat }}</span>
					<div class="info hidover">
						{% if page.markdown %}<div class="markdown">{% endif %}
{{ content }}
						{% if page.markdown %}</div>{% endif %}

						<a href="index.html" class="floatright">{{ landat.str.ReturnToTutorials }}</a>
						<p class="post-tags">{{ tags_content }}</p>
						<div class="clear"></div>
					</div>

					<span id="comments" class="ih">{{ landat.str.Comments }}</span>
					<div class="info">
{% include disqus.html %}
					</div>

					&nbsp;
