---
layout: default
---
{% include LANG.html %}{% capture cache %}
		{% for data_tag in landat.tags %}
            {% if data_tag.slug == page.tag %}
                {% assign tag = data_tag %}
            {% endif %}
		{% endfor %}
{% endcapture %}{% assign cache = nil %}
					<span id="article" class="ih">{{ tag.name }}</span>
					
					<div class="info">
						<img src="{{ page.linkadd }}pic/tutorials/ZZZtags/{{ tag.slug }}.png" alt="{{ tag.name }}" class="floatleft funz" />

						<p>{{ page.descr }}</p>

						<p>{{ landat.str.MaterialsByTag }} <img src="{{ page.linkadd }}pic/tags.png" class="vmiddle" alt="{{ landat.str.MaterialTags }}" /></p>
						{% include tagcloud.html %}

						<p class="centered"><img src="{{ page.linkadd }}pic/Lantern.png" alt="Comipo" /></p>

						<div id="post-content">
    {% if site.tags[page.tag] %}
		{% for post in site.tags[page.tag] %}
			{% if post.curlang == checkLang %}
{% include postblock.html %}
			{% endif %}	
		{% endfor %}
    {% else %}
							<p>{{ landat.str.ErrTagNoPosts }}</p>
    {% endif %}
						</div>


					</div>

					&nbsp;
