---
layout: default
curlang: ru
linkadd: ../
title: Обратная связь
---
					<span id="feedback" class="ih">Обратная связь</span>
					<div class="info">
						<p>Если хотите сказать что-нибудь о "One Manga Day", пожалуйста, воспользуйтесь формой ниже.</p>

						<img src="{{ page.linkadd }}pic/Lexa_site_lay.png" alt="*" class="floatright funz" />

						<p>Или можете связаться со мной следующими способами:</p>
						<ul class="nodots">
							<li><img src="{{ page.linkadd }}pic/badge-icon/email-small.png" alt="Email" width="28" height="28" class="vmiddle" /> Почта: games&#64;<span class="invis">УДАЛИТЬЭТО</span>dexp.in</li>
							<li><img src="{{ page.linkadd }}pic/badge-icon/vk-ru-small.png" alt="VKontakte" width="28" height="28" class="vmiddle" /> ВКонтакте: <a href="https://vk.com/dexperix" target="_blank">DeXPeriX</a></li>
							<li><img src="{{ page.linkadd }}pic/badge-icon/skype-small.png" alt="Skype" width="28" height="28" class="vmiddle" /> Скайп: <a href="skype:dexperix?chat">DeXPeriX</a></li>
							<li><img src="{{ page.linkadd }}pic/badge-icon/steam-small.png" alt="Steam" width="28" height="28" class="vmiddle" /> Стим: <a href="http://steamcommunity.com/id/dexp" target="_blank">DeXP</a></li>
						</ul>

{% include disqus.html %}


{% include disqus.html %}
						<noscript>Включите JavaScript чтобы видеть <a href="http://disqus.com/?ref_noscript">комментарии Disqus.</a></noscript>
						</div>

						&nbsp;
